database: #Credentials for Database
  name: *********
  username: *********
  password: *********
google: #Credentials for Google Login
  client_id: *********
  client_secret: *********
facebook: #Credentials for Facebook Login
  app_id: *********
  app_secret: *********
  call_back: *********
email: *********
password: *********
host: *********
default_confirm_success_url: *********
default_password_reset_url: *********
aws:
  bucket_name: *********
  region: *********
  access_key_id: *********
  secret_access_key: *********