# Credentials for Database
database:
  name: *********
  username: *********
  password: *********
# Credentials for Google Login
google:
  client_id: *********
  client_secret: *********
# Credentials for Facebook Login
facebook:
  app_id: *********
  app_secret: *********
  call_back: *********
# Google SMTP Credentials
email: *********
password: *********
# Redux Token Auth Credentials
host: *********
default_confirm_success_url: *********
default_password_reset_url: *********
# Amazon AWS-S3 Credentials
aws:
  bucket_name: *********
  region: *********
  access_key_id: *********
  secret_access_key: *********