/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
.error {
  color: red !important;
  display: inline;
}

.inputErrorBorder,
.inputErrorBorder:focus {
  border: 1px solid red !important;
  box-shadow: unset !important;
}

.register-card-body {
  padding-bottom: 5px !important;
}

.label-for-register-form {
  padding: 0px !important;
}
.insta {
  padding: 0;
  margin-bottom: 0.25rem !important;
  margin-right: 0.25rem !important;
  color: #fff;
  background-color: #517fa4;
  border-color: #517fa4;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-google-plus {
  background-color: #d34836;
  color: white;
  margin-bottom: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.button-primary-color {
  background-color: #321fdb !important;
  border-color: #321fdb !important;
}

.button-spacer {
  padding-left: 15px;
}

.react-button-loaders__loading {
  transform: none !important;
  width: 50px !important;
}

.loadingContainer {
  color: #252919;
  padding-top: 30px;
  padding-bottom: 30px;
}

.loadingContainer .loadingHeading h3 {
  text-transform: uppercase;
  font-size: 40px !important;
  font-weight: 600 !important;
  color: #252919;
  cursor: pointer;
  text-align: center;
}

.loadingContainer h3 {
  text-align: center;
}

.pleaseWait h3 {
  color: #252919;
  display: inline-block;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
